include LICENSE
recursive-include . *.rst
recursive-include . *.toml
recursive-include balladeer *.cfg *.css *.html *.jpg *.png *.rst *.toml *.txt
recursive-include balladeer *.js *.mjs
recursive-include balladeer *.mp3 *.woff *.woff2
