p, div.section ul {
letter-spacing: 0.055rem;
padding: 1rem 2rem 1rem 2rem;
font-size: 1.3rem;
}

aside {
background-color: #221e59;
padding: 0 1rem 0 1rem;
margin: 7.5rem 1rem 0 1rem;
border-radius: 6px;
color: #f7faec;
}

aside a, aside a:visited {
color: #f4f328;
}

a {
font-family: "WenQuanYi Micro Hei", "Helvetica Neue", arial, sans-serif;
text-decoration: none;
}
