
cite {
background-origin: content-box;
background-repeat: no-repeat;
background-size: contain;
color: var(--ballad-ink-shadows, grey);
text-align: right;
}

cite[data-role="dougal" i] {
background-image: url(/static/skye_terrier.png);
height: 207px;
}

div.dressing span.factory {
background-image: url(/static/treacle_factory.png);
background-size: cover;
filter: drop-shadow(-0.125rem -0.125rem var(--ballad-ink-glamour, yellow));
height: 16rem;
width: 9rem;
}

div.dressing span.flower:nth-of-type(2n) {
background-color: var(--ballad-ink-midtone, grey);
background-size: cover;
height: 4rem;
width: 3rem;
}
