div.dressing span.factory {
background-image: url(/static/treacle_factory.png);
background-position: 100% 100%;
background-repeat: no-repeat;
background-size: contain;
filter: drop-shadow(-0.125rem -0.125rem var(--ballad-ink-glamour, yellow));
grid-column-start: -2;
grid-column-end: -1;
grid-row-start: 1;
grid-row-end: 4;
}

div.dressing span.rockery:nth-of-type(1) {
background-color: var(--ballad-ink-shadows, grey);
background-size: cover;
grid-column: 1 / -1;
grid-row: 1 / -1;
z-index: -3;
}

div.dressing span.rockery:nth-of-type(2) {
background-color: var(--ballad-ink-midtone, grey);
background-size: cover;
grid-column: 2 / -1;
grid-row: span 2 / -1;
}

div.dressing span.rockery:nth-of-type(3) {
background-color: var(--ballad-ink-shadows, grey);
background-size: cover;
grid-column: 2 / span 2;
grid-row: span 2 / -2;
transform: rotateZ(30deg);
}

div.dressing span.rockery:nth-of-type(4) {
background-color: var(--ballad-ink-midtone, grey);
grid-column: -3 / -1;
grid-row: 4 / 5;
z-index: -2;
}

div.dressing span.rockery:nth-of-type(5) {
background-color: var(--ballad-ink-midtone, grey);
grid-column: -2 / -1;
grid-row: 3 / -2;
z-index: -2;
}
