div.dressing span.factory {
background-image: url(/static/treacle_factory.png);
background-position: 100% 100%;
background-repeat: no-repeat;
background-size: contain;
filter: drop-shadow(-0.125rem -0.125rem var(--ballad-ink-glamour, yellow));
grid-column-start: span 5;
grid-column-end: -1;
grid-row-start: 5;
grid-row-end: span 2;
z-index: -1;
}

div.dressing span.rockery:nth-of-type(1) {
background-color: var(--ballad-ink-shadows, grey);
background-size: cover;
grid-column: 1 / -1;
grid-row: 1 / -1;
z-index: -2;
}

div.dressing span.rockery:nth-of-type(2) {
background-color: var(--ballad-ink-midtone, grey);
background-size: cover;
grid-column: 2 / -1;
grid-row: span 2 / -1;
}

div.dressing span.rockery:nth-of-type(3) {
background-color: var(--ballad-ink-shadows, grey);
background-size: cover;
grid-column: 2 / span 2;
grid-row: span 2 / -2;
transform: rotateZ(20deg);
}

div.dressing span.rockery:nth-of-type(4) {
background-color: var(--ballad-ink-shadows, grey);
grid-column: 8 / 9;
grid-row: 7 / 8;
transform: rotateZ(20deg) rotateX(70deg);
}

div.dressing span.rockery:nth-of-type(5) {
background-color: var(--ballad-ink-midtone, grey);
grid-column: -5 / -1;
grid-row: -5 / -4;
z-index: -2;
}

div.dressing span.rockery:nth-of-type(6) {
background-color: var(--ballad-ink-midtone, grey);
grid-column: -4 / -1;
grid-row: -4 / -3;
z-index: -2;
}

div.dressing span.rockery:nth-of-type(7) {
background-color: var(--ballad-ink-shadows, grey);
grid-column: 6 / 7;
grid-row: -3 / -3;
opacity: 30%;
transform: rotateZ(36deg) rotateX(34deg);
}

div.dressing span.rockery:nth-of-type(8) {
background-color: var(--ballad-ink-shadows, grey);
grid-column: -2 / -1;
grid-row: -2 / -1;
opacity: 40%;
transform: rotateZ(-20deg) rotateX(30deg);
}
