body {
background-color: gray;
display: flex;
flex-direction: column;
height: 100vh;
justify-content: space-evenly;
margin: auto;
text-align: center;
width: 42rem;
}

button {
font-size: 1.8rem;
padding: 1.6rem 3rem 1.6rem 3rem;
}
